<div class="col-md-4">
  <div class="card" [ccCardHover] = "{querySelector: '.card-text'}">
    <div class="card-body">
      <h4 class="card-title">
        Title
      </h4>
      <p class="card-text" [style.display]="'none'">content</p>
    </div>
  </div>
</div>


<div class="col-md-4">
  <div class="card" [ccCardHover] = "{querySelector: 'p'}">
    <div class="card-body">
      <h4 class="card-title">
        Title
      </h4>
      <p class="card-text" [style.display]="'none'">content</p>
    </div>
  </div>
</div>
