<form [formGroup]="myForm" novalidate (ngSubmit)="onSubmit()">
  <fieldset formGroupName="name">
    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" formControlName="firstName" required/>
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" formControlName="lastName" required/>
    </div>
  </fieldset>
  <div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control" formControlName="email" required
            [ngClass]="{'is-invalid': myForm.controls.email.invalid && myForm.controls.email.dirty,
                        'is-valid': myForm.controls.email.valid && myForm.controls.email.dirty}"/>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" formControlName="password" required
    [ngClass]="{'is-invalid': myForm.controls.password.invalid,
                'is-valid': myForm.controls.password.valid}"/>
    <div class="invalid-feedback" *ngIf="myForm.controls.password.errors">
      <p *ngIf="myForm.controls.password.errors.required">Password is required</p>
      <p *ngIf="myForm.controls.password.errors.minlength">Password must be 8 characters long</p>
    </div>
  </div>
  <div class="form-group">
    <label>Language</label>
    <select class="form-control" formControlName="language">
      <option value="">Please select a language</option>
      <option *ngFor="let lang of langs" [value]="lang">{{lang}}</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<pre>{{myForm.value | json}}</pre>

<pre>Email Dirty? {{ myForm.controls.email.dirty }}</pre>
<pre>Email Pristine? {{ myForm.controls.email.pristine }}</pre>

<pre>Email Touched? {{ myForm.controls.email.touched }}</pre>
<pre>Email Untouched? {{ myForm.controls.email.untouched }}</pre>

<pre>Email Valid? {{ myForm.controls.email.valid }}</pre>
<pre>Email Invalid? {{ myForm.controls.email.invalid }}</pre>

<pre>Password Errors {{ myForm.controls.password.errors | json}}</pre>
