<h1>template</h1>
<form #f="ngForm" novalidate>
  <fieldset ngModelGroup="name">
    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" name="firstName" ngModel required>
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" name="lastName" ngModel required>
    </div>
  </fieldset>
  <div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control" name="email" ngModel required pattern="[^ @]*@[^ @]*">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" name="password" ngModel required minlength="8">
  </div>
  <div class="form-group">
    <label>Language</label>
    <select class="form-control" name="language" ngModel>
      <option value="">Please select a language</option>
      <option *ngFor="let lang of langs" [value]="lang">
        {{lang}}
      </option>
    </select>
  </div>
</form>

<pre>{{f.value | json}}</pre>

<pre>Email Valid? {{f.form.controls.email?.valid}}</pre>
<pre>Email Dirty? {{f.form.controls.email?.dirty}}</pre>
<pre>Email Touched? {{f.form.controls.email?.touched}}</pre>

<input type="email" class="form-control" name="emailX" [(ngModel)]="emailX">
<pre>{{emailX}}</pre>
